<footer class="mt-5 pt-5 mt-md-0 wrapper">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="pl-3">
        <img src="assets/retala_logo.svg">
      </div>

      <ul class="list-unstyled nav footer-nav mb-0">
        <li class=""><a class="nav-link cursor" [routerLink]="['/faq']" href="!#">FAQs</a></li>
        <li class=""><a class="nav-link cursor" [routerLink]="['/terms']" href="!#">Terms & Condition</a></li>
        <li class=""><a class="nav-link cursor" [routerLink]="['/privacy']" href="!#">Privacy Policy</a></li>
        <!-- <li class="mx-5 nav-item"><a class="nav-link cursor" href="!#">Contact</a></li> -->
      </ul>
    </div>
    <hr class="my-2">
    <small>Retala is a product of Pecuniary Financials Limited</small>
  </div>
</footer>
