<header class="mb-5">
  <div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-light px-lg-0 mx-0">
      <a class="navbar-brand" href="#"><img src="assets/retala_logo_white.svg"></a>
      <!-- <a class="navbar-brand d-block" href="#"><img src="assets/retala_logo.png"></a> -->
      <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-white"></span>
      </button>

    </nav>


  </div>

</header>
<div class="container my-5 py-5">
  <h3 class="title">Terms & Condition</h3>
  <!-- <p>some frequently asked questions answered</!-->
  <div class="ml-5">

    <div class="page" title="Page 1">
      <div class="section">
        <div class="layoutArea">
          <div class="column">
            <p><span>Acceptance of Terms </span></p>
            <p><span>By using Retala mobile application, whether as a visitor or a registered user, you accept and agree
                to these Terms. Please read these Terms as well as the Privacy Policy carefully before you start to use
                Retala. If you do not consent to these Terms or the Privacy Policy you must not access or use Retala.
              </span></p>
            <p><span>Changes to the Terms </span></p>
            <p><span>Retala is offered by Pecuniary Financials Ltd (&ldquo;Pecuniary Financials Ltd&rdquo;,
                &ldquo;we&rdquo;, or &ldquo;us&rdquo;). We may revise and update these Terms from time to time at our
                sole
                discretion. Any changes are effective when we post them. Your continued use of Retala following the
                posting of revised Terms means that you accept and agree to the changes. </span></p>
            <p><span>Changes to Retala </span></p>
            <p><span>While we hope to always offer Retala and all of its features, we reserve the right to change or
                withhold Retala or any part, segment or usefulness of Retala without notice. We will not be liable if
                for
                any reason all or any part of Retala is inaccessible at any time. </span></p>
            <p><span>Information About You and Your Access to Retala </span></p>
            <p><span>All information we gather on or through Retala is dependent on our Privacy Policy. By using Retala,
                you agree to all actions taken by us with respect to your information in compliance with the Privacy
                Policy. </span></p>
            <p><span>Retala Terms of Use </span></p>
            <p><span>Retala provides a subscription service that allows our users to access financial and business
                management services for their businesses over the internet.<br /> These Terms of Use administer your use
                of our service. As used in these Terms of Use, &ldquo;Retala service&rdquo;, &ldquo;our service&rdquo;
                or
                &ldquo;the service&rdquo; means the personalized service provided by Retala to record and manage
                business
                operations, including features and functionalities, recommendations and reviews, the website, and user
                interfaces, as well as all content and programming associated with our service. </span></p>
            <p><span>These Terms allow you to use Retala in accordance with these terms for either your personal and
                non-commercial use or for internal use of your business. All rights reserved by Pecuniary Financials
                Ltd.
                You agree you are not permitted and will not use Retala as follows: </span></p>
            <p><span>1) Account: </span></p>
            <p><span>Your Retala account will continue until terminated. To use Retala service you must have internet
                access and a mobile device such as; phones or tablets, and provide us with one or more payment
                methods.<br /> &ldquo;Payment Method&rdquo; means a current, valid, accepted method of payment, that may
                be updated once in a while, and which may include payment through your account with a third party.
                Unless
                you cancel your account before your billing date, you authorize us to charge the </span></p>
          </div>
        </div>
        <div class="layoutArea">
          <div class="column">
            <p><span>1 </span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="page" title="Page 2">
      <div class="section">
        <div class="layoutArea">
          <div class="column">
            <p><span>account for the next billing cycle to your Payment Method.<br /> You can find specific details
                regarding pricing by visiting our website
              </span><span>​</span><span>www.retala</span><span>​</span><span>.ng </span></p>
            <ol start="2">
              <li>
                <p><span>2) &nbsp;Free Trials: </span></p>
                <p><span>Your Retala account may begin with a free trial. The duration of the free trial period will be
                    specified during registration and is intended to allow new users and certain former users to test
                    run
                    the service. Free Trial eligibility is determined by Retala at its sole discretion and we may limit
                    eligibility or duration to prevent abuse. We reserve the right to revoke the free trial and put your
                    account on suspension in the event that we determine that you are not eligible. We may use
                    information
                    such as device ID, method of payment or an account email address used with an existing or recent
                    Retala account to determine eligibility. Also, restrictions may apply. </span></p>
                <p><span>We will charge the account for the next billing cycle to your Payment Method at the end of the
                    free trial period unless you cancel your account prior to the end of the free trial period. To view
                    the price and end date of your free trial period, visit our website
                  </span><span>www.retala.</span><span>​</span><span>ng </span></p>
              </li>
              <li>
                <p><span>3) &nbsp;Billing and Cancellation: </span></p>
                <p><span>i) </span><span>​</span><span>Billing Cycle</span><span>​</span><span>.<br /> The subscription
                    fee for Retala service and any other charges that may be brought </span></p>
                <p><span>about with your use of the service </span><span>​</span><span>such as taxes and possible
                    transaction fees, will be charged to your Payment Method on the specific billing date indicated on
                    your "Account" page. The length of your billing cycle will depend on the type of subscription that
                    you
                    choose when you register for the service. In some cases, your payment date may change, for example
                    if
                    your Payment Method has not been effectively settled or if your paid user account began on a day not
                    contained in a given month. Visit our website and click on the "Billing details" link on profile to
                    see your next payment date. We may approve your Payment Method fully expecting payment of account or
                    service-related charges through various means, including setting it for up to approximately one
                    month
                    of service as soon as you register. In some cases, your available balance may be reduced to reflect
                    the authorization during your free trial period. </span></p>
                <p><span>ii) </span><span>​</span><span>Payment Methods</span><span>​</span><span>.<br /> To use the
                    Retala service you must provide one or more means of payment. You authorize us to charge any Payment
                    Method associated with your account in case your primary Payment Method is ineffective or no longer
                    available for payment of your subscription fee. You remain liable for any uncollected amounts. If a
                    payment is not successfully settled, due to expiration, insufficient funds, or otherwise, and you do
                    not terminate your account, we may suspend your access to the service until we have successfully
                    charged a valid Payment Method. For some Payment Methods, the issuer may charge you certain fees,
                    such
                    as foreign transaction fees or other fees relating to the processing of your Payment Method. Local
                    tax
                    charges may vary depending on the Payment Method used. Check with your Payment Method service
                    provider
                    for details. </span></p>
              </li>
            </ol>
          </div>
        </div>
        <div class="layoutArea">
          <div class="column">
            <p><span>2 </span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="page" title="Page 3">
      <div class="section">
        <div class="layoutArea">
          <div class="column">
            <p><span>iii) </span><span>​</span><span>Updating your Payment Methods.<br /> You can update your Payment
                Methods by going to Account. We may also update your Payment Methods using information provided by the
                payment service providers. Following any update, you authorize us to continue to charge the applicable
                Payment Method(s). </span></p>
            <p><span>iv) </span><span>​</span><span>Termination</span><span>​</span><span>.<br /> </span><span>You can
                terminate your Retala account at any time, but you will still have access to our service through the end
                of your billing period. To the extent permitted by the applicable law, payments are non-refundable and
                we
                do not provide refunds or credits for any partial account periods. To terminate, go to your account and
                follow the instructions for termination. If you terminate your subscription, your account will
                automatically close at the end of your current billing period. To see when your account will close,
                click
                "Billing details" on the Account. If you signed up for Retala using your account with a third party as a
                Payment Method and wish to cancel your Retala subscription, you may need to do so through such third
                party, for instance, visit your account with the applicable third party and turn off auto-renew, or
                unsubscribe from the Retala service through that third party. You may also find billing information
                about
                your Retala subscription by visiting your account with the applicable third party. </span></p>
            <p><span>v) </span><span>​</span><span>Change of Prices and Subscriptions</span><span>​</span><span>.<br />
              </span><span>We may change our subscription plans and the price of our service occasionally; however, any
                changes to price or your subscription plans will apply to subsequent billing cycles following notice of
                the change(s) to you. </span></p>
            <p><span>vi) </span><span>​</span><span>Retala Service</span><span>​</span><span>.<br /> You must be 18
                years
                of age or older to be eligible to access Retala service. Minors may only use the service under the
                supervision of an adult. The Retala service and any content viewed through the service are for your
                business and non-commercial use only and may not be shared with individuals beyond your business. You
                consent not to use the service for public performances. You may access Retala primarily within the
                country
                in which you have established your account and only in geographic locations where we offer our service
                and
                have authorized such content.<br /> The Retala service, including its functionality, is regularly
                updated.
                In addition, we continually test various aspects of our service, including our website, user interfaces,
                and promotional features. </span></p>
            <p><span>vii) </span><span>​</span><span>Passwords and Account Access.<br /> The user who created the Retala
                account and whose Payment Method is charged (the "Account Owner") has access and control over the Retala
                account and the Retala ready devices that are used to access our service and is responsible for any
                activity that occurs through the Retala account. To maintain control over the account and to prevent
                anyone from accessing the account, the Account Owner should maintain control over the Retala ready
                devices
                that are used to access the service and not reveal the password or details of the Payment Method
                associated with the account to anyone. You are </span></p>
          </div>
        </div>
        <div class="layoutArea">
          <div class="column">
            <p><span>3 </span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="page" title="Page 4">
      <div class="section">
        <div class="layoutArea">
          <div class="column">
            <p><span>responsible for updating and maintaining the accuracy of the information you provide to us relating
                to your account. We can terminate your account or place your account on hold in order to protect you,
                Retala or our partners from identity theft or other fraudulent activity. </span></p>
            <p><span>viii) </span><span>​</span><span>Warranties and Limitations on Liability.<br /> The Retala service
                is
                provided "as is" and without warranty or condition. In particular, our service may not be uninterrupted
                or
                error-free. You waive all special, indirect and consequential damages against us. These terms will not
                limit any non-waivable warranties or consumer protection rights that you may be entitled to under the
                laws
                of your country. </span></p>
            <p><span>ix) </span><span>​</span><span>Class Action Waiver.<br /> WHERE PERMITTED UNDER THE APPLICABLE LAW,
                YOU AND RETALA AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN INDIVIDUAL CAPACITY, AND NOT
                AS
                A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. Further, where
                permitted
                under the applicable law, unless both you and Retala agree otherwise, the court may not consolidate more
                than one person's claims with your claims, and may not otherwise preside over any form of a
                representative
                or class proceeding. </span></p>
            <p><span>x) </span><span>​</span><span>Miscellaneous</span><span>​</span><span>. </span></p>
            <ul>
              <li>
                <p><span>● &nbsp;</span><span>Governing Law.</span><span>​ </span><span>These Terms shall be governed by
                    and construed in accordance with the </span></p>
                <p><span>laws of Nigeria. </span></p>
              </li>
              <li>
                <p><span>● &nbsp;</span><span>Unsolicited Materials.</span><span>​ </span><span>Retala does not accept
                    unsolicited materials or ideas for Retala </span></p>
                <p><span>content and is not responsible for the similarity of any of its content or programming in
                  </span>
                </p>
                <p><span>any media to materials or ideas transmitted to Retala. </span></p>
              </li>
              <li>
                <p><span>● &nbsp;</span><span>Customer Support.</span><span>​ </span><span>To find more information
                    about
                    our service and its features or if you </span></p>
                <p><span>need assistance with your account, please visit Retala Contact on our website. </span></p>
              </li>
              <li>
                <p><span>● &nbsp;</span><span>Changes to Terms of Use and Assignment.</span><span>​ </span><span>Retala
                    may, from time to time, change these </span></p>
                <p><span>Terms. We will notify you at least 30 days before such changes apply to you. We may assign or
                    transfer our agreement with you including our associated rights and obligations at any time and you
                    agree to cooperate with us in connection with such an assignment or transfer. </span></p>
              </li>
              <li>
                <p><span>● &nbsp;</span><span>Electronic Communications.</span><span>​ </span><span>We will send you
                    information relating to your account (e.g. payment authorizations, invoices, changes in password or
                    Payment Method, confirmation messages, notices) in electronic and SMS forms only, for example via
                    emails to your email address provided during registration. </span></p>
              </li>
              <li>
                <p><span>● &nbsp;</span><span>Legal.</span><span>​ ​</span><span>In any way that violates any federal,
                    state, local or international law or regulation; </span></p>
                <ol>
                  <li>
                    <p><span>a) &nbsp;</span><span>For the purpose of exploiting, harming, or attempting to exploit or
                        harm persons, </span></p>
                    <p><span>entities, or companies in any way by exposing them to inappropriate content, </span></p>
                    <p><span>asking for personally identifiable information or otherwise. </span></p>
                  </li>
                  <li>
                    <p><span>b) &nbsp;</span><span>To impersonate or attempt to impersonate any, entity, company or
                        person, </span></p>
                    <p><span>including Pecuniary Financials Ltd or another Retala user; </span></p>
                  </li>
                </ol>
              </li>
            </ul>
          </div>
        </div>
        <div class="layoutArea">
          <div class="column">
            <p><span>4 </span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="page" title="Page 5">
      <div class="section">
        <div class="layoutArea">
          <div class="column">
            <p><span>c) </span><span>To engage in any other conduct which, as determined by us, may harm Pecuniary
                Financials Ltd or users of Retala or expose them to liability; </span></p>
            <ol start="4">
              <li>
                <p><span>d) &nbsp;</span><span>In any manner that could disable, overburden, damage, or impair Retala or
                    interfere with another&rsquo;s use of Retala; </span></p>
              </li>
              <li>
                <p><span>e) &nbsp;</span><span>Use any robot, spider, or other automatic device, process, or means to
                    access Retala for any purpose, including monitoring or copying any of the material on Retala;
                  </span>
                </p>
              </li>
              <li>
                <p><span>f) &nbsp;</span><span>To introduce any viruses, Trojan horses, worms, logic bombs, or other
                    material which is malicious or technologically harmful; </span></p>
              </li>
              <li>
                <p><span>g) &nbsp;</span><span>To attempt to gain unauthorized access to interfere with, damage, or
                    disrupt any parts of Retala or any server, computer, or database connected to Retala; </span></p>
              </li>
              <li>
                <p><span>h) &nbsp;</span><span>To attack Retala via a denial-of-service attack or a distributed
                    denial-of-service attack. </span></p>
              </li>
            </ol>
            <p><span>You also agree that you will not send, upload, download, knowingly receive, use, or re-use any
                material which as determined by Pecuniary Financials in its sole discretion: </span></p>
            <ul>
              <li>
                <p><span>● &nbsp;</span><span>Infringes any patent, trademark, trade secret, copyright, or other
                    intellectual property or other rights of any other person, entity or company; </span></p>
              </li>
              <li>
                <p><span>● &nbsp;</span><span>Violate the legal rights (including the rights of publicity and privacy)
                    of
                    others or contain any material that could give rise to any civil or criminal liability under any
                    applicable laws or regulations; </span></p>
              </li>
              <li>
                <p><span>● &nbsp;</span><span>Promote any illegal activity, or advocates, promotes, or assists any
                    unlawful act; </span></p>
              </li>
              <li>
                <p><span>● &nbsp;</span><span>Involves commercial activities or sales, such as contests, gambles, and
                    other sales </span></p>
                <p><span>promotions, barter or advertising; and </span></p>
              </li>
              <li>
                <p><span>● &nbsp;</span><span>Gives the impression that the material emanates from or is endorsed by
                    Pecuniary </span></p>
                <p><span>Financials Ltd or any other person or entity, if this is not the case. </span></p>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
