<header class="mb-5">
  <div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-light px-lg-0 mx-0">
      <a class="navbar-brand" href="#"><img src="assets/retala_logo_white.svg"></a>
      <!-- <a class="navbar-brand d-block" href="#"><img src="assets/retala_logo.png"></a> -->
      <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-white"></span>
      </button>

    </nav>


  </div>

</header>
<div class="container my-5 py-5">
  <h3 class="title">Privacy Policy</h3>

  <div class="ml-5">

    <h3>Your privacy is critically important to us.</h3>
    Pecuniary Financials Ltd is located at:<br />
    <address>
      Pecuniary Financials Ltd<br />9 District Centre Kubwa Abuja Abuja <br />0000 , Nigeria<br />07039553190 </address>

    <p>It is Pecuniary Financials Ltd's policy to respect your privacy regarding any information we may collect while
      operating our website. This Privacy Policy applies to <a href="http://www.pecksas.com">www.retala.pecksas.com</a>
      (hereinafter, "us", "we", or "www.pecksas.com"). We respect your privacy and are committed to protecting
      personally
      identifiable information you may provide us through the Website. We have adopted this privacy policy ("Privacy
      Policy") to explain what information may be collected on our Website, how we use this information, and under what
      circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we
      collect through the Website and does not apply to our collection of information from other sources.</p>
    <p>This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules
      and
      policies governing your use of our Website. Depending on your activities when visiting our Website, you may be
      required to agree to additional terms and conditions.</p>

    <h2>Website Visitors</h2>
    <p>Like most website operators, Pecuniary Financials Ltd collects non-personally-identifying information of the sort
      that web browsers and servers typically make available, such as the browser type, language preference, referring
      site, and the date and time of each visitor request. Pecuniary Financials Ltd's purpose in collecting
      non-personally
      identifying information is to better understand how Pecuniary Financials Ltd's visitors use its website. From time
      to time, Pecuniary Financials Ltd may release non-personally-identifying information in the aggregate, e.g., by
      publishing a report on trends in the usage of its website.</p>
    <p>Pecuniary Financials Ltd also collects potentially personally-identifying information like Internet Protocol (IP)
      addresses for logged in users and for users leaving comments on http://www.pecksas.com blog posts. Pecuniary
      Financials Ltd only discloses logged in user and commenter IP addresses under the same circumstances that it uses
      and discloses personally-identifying information as described below.</p>

    <h2>Gathering of Personally-Identifying Information</h2>
    <p>Certain visitors to Pecuniary Financials Ltd's websites choose to interact with Pecuniary Financials Ltd in ways
      that require Pecuniary Financials Ltd to gather personally-identifying information. The amount and type of
      information that Pecuniary Financials Ltd gathers depends on the nature of the interaction. For example, we ask
      visitors who sign up for a blog at http://www.pecksas.com to provide a username and email address.</p>

    <h2>Security</h2>
    <p>The security of your Personal Information is important to us, and so we ensure the security of your data. We do
      not
      share your personal information with any third party.</p>

    <h2>Advertisements</h2>
    <p>With the nature of our business, Pecuniary Financials Ltd does not allow for advertisement or cookies by any
      advertiser. This Privacy Policy covers the use of cookies by Pecuniary Financials Ltd.</p>


    <h2>Links To External Sites</h2>
    <p>Our Service may contain links to external sites that are not operated by us. If you click on a third party link,
      you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms and
      conditions of every site you visit.</p>
    <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third
      party sites, products or services.</p>



    <h2>Aggregated Statistics</h2>
    <p>Pecuniary Financials Ltd may collect statistics about the behavior of visitors to its website. Pecuniary
      Financials
      Ltd may display this information publicly or provide it to others. However, Pecuniary Financials Ltd does not
      disclose your personally-identifying information.</p>


    <h2>Cookies</h2>
    <p>To enrich and perfect your online experience, Pecuniary Financials Ltd uses "Cookies", similar technologies and
      services provided by others to display personalized content, appropriate advertising and store your preferences on
      your computer.</p>
    <p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser
      provides to the website each time the visitor returns. Pecuniary Financials Ltd uses cookies to help Pecuniary
      Financials Ltd identify and track visitors, their usage of http://www.pecksas.com, and their website access
      preferences. Pecuniary Financials Ltd visitors who do not wish to have cookies placed on their computers should
      set
      their browsers to refuse cookies before using Pecuniary Financials Ltd's websites, with the drawback that certain
      features of Pecuniary Financials Ltd's websites may not function properly without the aid of cookies.</p>
    <p>By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to
      Pecuniary Financials Ltd's use of cookies.</p>



    <h2>Privacy Policy Changes</h2>
    <p>Although most changes are likely to be minor, Pecuniary Financials Ltd may change its Privacy Policy from time to
      time, and in Pecuniary Financials Ltd's sole discretion. Pecuniary Financials Ltd encourages visitors to
      frequently
      check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this
      Privacy Policy will constitute your acceptance of such change.</p>



    <h2></h2>
    <p></p>

    <h2>Credit & Contact Information</h2>
    <p>This privacy policy was created at <a style="color:inherit;text-decoration:none;"
        href="https://termsandconditionstemplate.com/privacy-policy-generator/"
        title="Privacy policy template generator" target="_blank">termsandconditionstemplate.com</a>. If you have any
      questions about this Privacy Policy, please
      contact us via <a href="mailto:peckasfinance@gmail.com.com">email</a> or <a href="tel:(+234)7039553190">phone</a>.
    </p>

  </div>
</div>
