header {
  padding-top: 30px;
  height: 20vh;
  //   background-image: url(assets/header-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .white {
    color: #FFF !important;
  }
}

.title {
  padding-left: 40px;
  padding-right: -20px;
  padding-bottom: 20px;

  display: inline-block;
  font-weight: 700;
  border-bottom: solid 2px #FFBD00
}

h2 {
  font-size: 20px;
}

p {
  font-size: 16px;
}
