@font-face {
  /* You can add global styles to this file, and also import other style files */
  font-family: 'Zona Pro';
  font-weight: normal;
  font-display: swap;
  src: url("./assets/zona/Zona\ Pro\ Regular.otf") format('otf');
}

@font-face {
  font-family: 'Zona Pro';
  font-weight: bold;
  font-display: swap;
  src: url("./assets/zona/Zona\ Pro\ Bold.otf") format('otf');
}

@font-face {
  font-family: 'Avenir';
  font-weight: normal;
  font-display: swap;
  src: url("./assets/avenir/Avenir.otf") format('otf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1F225A;
  font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-weight: bold;
}

html,
body,
p {
  color: #3C3C3C;
  font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cursor {
  cursor: pointer;
}

@media screen and (max-width:768px) {

  html,
  body {
    font-size: 14px;
  }
}

@media screen and (max-width:540px) {

  html,
  body {
    font-size: 12px;
  }
}

.wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

header {
  height: 92vh;
  background-image: url(assets/header-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .nav-scrolled {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    // background: #101F225A;
    background: #1F225A;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    transition: background-color .2s cubic-bezier(.4, 0, .2, 1), color .5s cubic-bezier(.4, 0, .2, 1);
    padding-left: 10% !important;
    padding-right: 10% !important;
  }

  .navbar-collapse {
    a.nav-link {
      color: white !important;
    }

    a.nav-link:hover {
      border-bottom: solid 2px #FFBD00;
    }

    a.get-btn {}
  }

  .header-phone {
    position: absolute;
    height: 65vh;
    width: auto;
    top: 20vh;
    right: 20%;
  }

  .header-text {
    position: absolute;
    width: 40%;
    top: 45%;
    transform: translateY(-50%);

    h1 {
      font-size: 48px;
      line-height: 56px;
      font-weight: bold;
    }

    h5 {
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
    }
  }

  h1,
  h5 {
    color: white;
  }
}

.retala-icons {
  height: 50px;
}

.manage-employee {
  height: 90vh;
  background-image: url(assets/Path.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  img {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: 10%;
  }
}

.pricing {
  .price-card {
    box-shadow: 0px 0px 47px rgba(21, 21, 21, 0.0973011);
    border-radius: 20px;
    background: #ffffff;
  }

  .price-card.unlimited {
    transform: scale(1.1);
    z-index: 2;
  }


}

.download-row {
  background: #1F225A;
  border-radius: 20px;

  h1 {
    color: white;
  }
}

.contact {
  .contact-form {
    background-image: url(assets/Bitmap.png);
    background-position: center;
    background-size: cover;
  }

  .footer-form {
    width: 70%;

    .form-control {
      background: transparent;
      color: #ffffff;
      padding-top: .8rem;
      padding-bottom: .8rem;
      border-radius: .6rem;
    }

    .form-control::placeholder {
      color: #ffffff;
    }
  }
}

.btn {
  border-radius: 2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.btn-warning {
  background-color: #FFBD00;
  color: white;
}

.btn-primary {
  background-color: #1F225A;
  color: white;
  border-color: #1F225A;
}

.btn-outline-primary {
  border-color: #1F225A;
  color: #1F225A;
}

.btn-outline-primary:hover {
  background-color: #1F225A;
  color: white;
}

@media screen and (max-width:1200px) {
  .wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width:992px) {

  // .navbar{
  //     background: white;
  //     padding-left: 2% !important;
  //     padding-right: 2% !important;
  //     margin-top: -3.2% !important;
  //     margin-left: -2% !important;
  //     margin-right: -2% !important;
  // }
  .navbar-brand img {
    width: 120px !important;
    margin-left: 5px;
  }

  .navbar-collapse {
    background: #1F225A;
    z-index: 10;
    padding-bottom: 1rem;
  }

  .wrapper {
    padding-left: 2%;
    padding-right: 2%;
  }

  header {
    margin-bottom: 50px;

    .nav-scrolled {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      // background: #101F225A;
      background: #1F225A;
      -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
      -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
      transition: background-color .2s cubic-bezier(.4, 0, .2, 1), color .5s cubic-bezier(.4, 0, .2, 1);
      padding-left: 2% !important;
      padding-right: 2% !important;
    }


    .header-phone {
      //   display: none;
      position: absolute;
      height: 45vh;
      width: auto;
      top: 48vh;

      left: 50%;
      transform: translate(-50%);
    }

    .header-text {
      position: absolute;
      width: 100%;
      text-align: center;
      left: 50%;
      padding-left: 5%;
      padding-right: 5%;
      top: 25%;
      transform: translateY(-50%);
      transform: translateX(-50%);
      font-size: 14px;

      h1 {
        font-size: 30px;
        line-height: 29px;
        font-weight: bold !important;
      }

      h5 {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        margin-top: 10px !important;
      }
    }
  }
}

@media screen and (max-width:768px) {
  .contact {
    .footer-form {
      width: 100%;
    }
  }

  .wrapper {
    padding-left: 0%;
    padding-right: 0%;
  }

  .pricing {
    .price-card.unlimited {
      transform: scale(1);
    }
  }
}



div.social {
  padding-left: 50px;
}

/* Icons */

div.social a {
  color: #fff;
  // background: #DB6E82;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 28px;
  padding-top: 12px;
  margin: 0 2px;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-font-smoothing: antialiased;
}

div.social a:hover {
  // background: ;
}

/* pop-up text */

div.social a span {
  color: #666;
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  z-index: -1;
  font-size: 14px;
  border-radius: 2px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

div.social a span:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}

/* text pops up when icon is in hover state */

div.social a:hover span {
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}

/* font awesome icons */

div.social a:nth-of-type(1):before {
  content: '\f09a';
}

div.social a:nth-of-type(2):before {
  content: '\f099';
}

div.social a:nth-of-type(3):before {
  content: '\f16d';
}

// div.social a:nth-of-type(4):before {
//   content: '\f113';
// }

// div.social a:nth-of-type(5):before {
//   content: '\f17d';
// }

// div.social a:nth-of-type(6):before {
//   content: '\f1cb';
// }
.card.customClass,
.card.customClass .card-header,
.panel.customClass {
  background-color: #fff;
  color: #9B9D9E;
  border: none;
  border-radius: none;

}


.panel.customClass .btn-link {
  color: #9B9D9E !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.panel.customClass .panel-body {


  margin: 10px 40px 30px 40px;

  margin-left: 40px;
  padding-left: 20px;
  border-left: solid 2px #FFBD00;
  font-size: 1rem;
  color: #333;
  font-weight: 300;
  line-height: 1.3;
}
